<form action="/brand/<%= brand._id %>/edit" method="post">
  <input type="text" name="name" value="<%= brand.name %>">
  <input type="text" name="name" value="<%= brand.ethical %>">
  <input type="text" name="name" value="<%= brand.sustainable %>">
  <input type="text" name="name" value="<%= brand.description %>">
  <input type="text" name="name" value="<%= brand.certificates %>">
  <input type="submit">
</form>
