<form action="/brand/<%= brand._id %>/edit" method="post">
  <input type="text" name="name" value="<%= brand.name %>">
  <input type="text" name="name" value="<%= brand.ethical %>">
  <input type="text" name="name" value="<%= brand.sustainable %>">
  <textarea type="text" name="name" value="<%= brand.description %>"></textarea>
  <textarea type="text" name="name" value="<%= brand.certificates %>"></textarea>
  <input type="submit">
</form>
