<form action="/brand/<%= brand._id %>/edit" method="post">
  <input type="text" name="brand_name" value="<%= brand.name %>">
  <input type="text" name="brand_ethical" value="<%= brand.ethical %>">
  <input type="text" name="brand_sustainable" value="<%= brand.sustainable %>">
  <input type="text" name="brand_description" value="<%= brand.description %>">
  <input type="text" name="brand_certificates" value="<%= brand.certificates %>">
  <input type="text" name="brand_link" value="<%= brand.link %>">
  <input type="submit">
</form>
