<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <form action="/"  method="post" enctype="multipart/form-data">
      <input type="text" name="brand_name" placeholder="Brand name">
      <input type="text" name="brand_ethical" placeholder="Ethical?">
      <input type="text" name="brand_sustainable" placeholder="Sustainable?">
      <textarea type="text" name="brand_description" placeholder="Description"></textarea>
      <textarea type="text" name="brand_certificates" placeholder="Certificates"></textarea>
      <input type="text" name="brand_link" placeholder="Link"></input>
      <input type="file" name="file" />
      <input type="submit">
    </form>
    <ul>
      <% brand.forEach(brand => { %>
        =====================================
        <li>Name=<%= brand.name %></li>
        <li>Ethical=<%= brand.ethical %></li>
        <li>Sustainable=<%= brand.sustainable %></li>
        <li>Description=<%= brand.description %></li>
        <li>Certificates=<%= brand.certificates %></li>
        <li>Link=<%= brand.link %></li>
        <li>Logo=<%= brand.file %></li>

        <a href="/brand/<%= brand._id %>/edit">Edit</a>
        <a href="/brand/<%= brand._id %>/delete">Delete</a></li>
      <% }) %>
    </ul>
  </body>
</html>
